<div class="row">
  <div class="col-xs-6 col-md-offset-1">
    <form (ngSubmit)="onSubmit()" #formTest=ngForm>

      <div class="row">
        <div class="form-group">
          <span  for="email">Email</span>
          <input type="email"
           name="email" 
           id="email"
            class="form-control" 
            ngModel
           required
           email
           #email="ngModel" >           
           <span *ngIf="!email.valid && email.touched" class="help-block">Please enter a valid email!</span>
           
        </div>
         <div class="form-group">
           <label for="subscription">Subscriptions</label>
           
           <select name="subscription"
            id="subscription"
            [ngModel]="selectedSubscription"
            class="form-control"
            required="required">
             <option
             *ngFor="let subscription of subscriptions"
              [value]="subscription"
              >{{subscription}}</option>
            
           </select>
           
         </div>
         <div class="form-group">
            <span  for="password">Password</span>
            <input type="password"
             name="password" 
             id="password"
              class="form-control" 
              ngModel
             required             
             #password="ngModel" >           
             <span *ngIf="!password.valid && password.touched" class="help-block">Please enter a password!</span>
             
          </div>
      </div>
      
      <div class="row">
        <p *ngIf="!formTest.valid && formTest.touched"> The form is invalid!</p>
        <div class="col-xs-12">
            <button [disabled]="!formTest.valid" type="submit" 
            class="btn btn-primary">Submit</button>
          
        </div>
      </div>

    </form>

  </div>
</div>